/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: linear-gradient(60.15deg, #694a4f,#8e5d52, #4d393c,#8e5d52);
    background-size: 900% 200%;
    height: 90vh;
    color: #fff2e7;
    font-size: 62.5%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    animation: animete 20s linear infinite;
}
@keyframes animete{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 0%;
    }
    0%{
        background-position: 0% 50%;
    }
}
.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    font-size: 1.0rem;
    text-align: center;
}
.cabeca img{
    height: 72 px;
}
.cabeca nav{
    display: flex;
    gap: 30px;
}
.cabeca nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    color: #fff2e7;
}
nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #ecd6c4;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: .5s ease-in-out;
}
nav a:hover::after{
    width: 100%;
}
.conteudoPri{
    border-top: 0.4px solid #fff2e7;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    margin: 0 10px;
}
.conteudoPri article{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudoPri h1{
    font-family: cursive;
    font-size: 4.5em;
}
.conteudoPri p{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #ecd6c4;
}
.conteudoPri button{
    background-color: #ecd6c4;
    border: none;
    width: 70%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    transition: .3s ease-in-out;
}
.conteudoPri button:hover{
    background-color: #a48f7d;
    cursor: pointer;
    transform: scale(.9);
}
.conteudoPri img{
    width: 100%;
    height: 50%;
}
.conteudoPri img:hover{
    transform: translate(-5px,-10px);
}
.conteudoSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
.conteudoSec h2{
    border-top: 0.4px solid #fff2e7;
    padding-top: 30px;
    font-family: cursive;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.conteudoSec p{
    font-family: sans-serif;
    font-size: .8rem;
}
footer{
    border-top: 0.4px solid #fff2e7;
    padding: 30px
}
footer img{
    height: 49px;
    display: block;
    margin: 0 auto;
}
@media(max-width:666px){
    .cabeca{
        flex-direction: column;
        gap: 30px;
    }
    .conteudoSec{
      text-align: center;
        
    }
}
@media(max-width:590px){
    .cabeca nav{
        flex-direction: column;
    }
    .conteudoPri{
        flex-direction: column;
        text-align: center;
    }
    .conteudoPri button{
        margin: 0 auto;
    }
    .conteudoSec p{
        text-align: center;
    }
}